# Data preparation - Performance aux J.O. par pays
---

In [15]:
import pandas as pd
#attention à renseigner le bon nom de dossier
df_jo = pd.read_csv("athlete_events.csv", sep = ",")
df_NOC = pd.read_csv("noc_regions.csv", sep = ",")
df_NOC.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

### Performances par pays, toutes éditions confondues

In [16]:
#liaison avec df NOC car les nations du athletes.csv peuvent être fausses
df = pd.merge(df_jo, df_NOC, on='NOC', how='left')
df = df.rename(columns={'region':'Nation'})

# Données des jeux d'été uniquement
df = df.loc[df['Season'] == "Summer"]

# Sélection des colonnes à garder
df= df.loc[:, ["Nation", "NOC", "Year", "Sport", "Event", "Medal"]]

# Suppression des valeurs nulles : athlètes n'ayant pas eu de médaille
df = df.dropna()


#On conserve une seule médaille par event
df = df.drop_duplicates(subset=["Event", "Medal", "Year"])

df_medals = df
df_gold = df.loc[df['Medal'] == "Gold"]
df_medals

,Nation,NOC,Year,Sport,Event,Medal
3,Denmark,DEN,1900,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,Finland,FIN,1920,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,Finland,FIN,1920,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
41,Finland,FIN,1948,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,Finland,FIN,1948,Gymnastics,Gymnastics Men's Team All-Around,Gold
...,...,...,...,...,...,...
270986,Russia,RUS,2008,Tennis,Tennis Women's Singles,Bronze
271010,Austria,AUT,1924,Weightlifting,Weightlifting Men's Lightweight,Silver
271076,Russia,URS,1952,Athletics,Athletics Women's Shot Put,Gold
271078,Russia,URS,1956,Athletics,Athletics Women's Shot Put,Silver
271080,Russia,URS,1964,Athletics,Athletics Women's Shot Put,Bronze

In [1]:
#export pour data visualisation
df_medals.to_csv("medals_per_country.csv", index=False)

NameError: name 'df_medals' is not defined